<template>
  <!-- component template -->
  <!-- <script type="text/x-template" id="grid-template"> -->
    <div id="grid-template">
      <div class="table-header">
        <!-- <span>Selected Ids: {{ matchIds }}</span> -->
        <div>Select All <input type="checkbox" @click="selectAll" v-model="allSelected"></div>
      </div>

      <table v-if="filteredData.length">
        <thead>
          <tr>
            <th v-for="key in columns" :key="key.id"
              @click="sortBy(key)"
              :class="{ active: sortKey == key }">
              {{ key | capitalize }}
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filteredData" :key="entry.id">
            <td v-for="key in columns" :key="key.id">

              <span v-if = "key === 'api_id'">
                  <input class="input_apiid" :id= "'id_' + entry.id" type="text" placeholder="input api_id" v-model="entry.api_id" disabled>
                  <!-- <input :id= "'id_' + entry.id" type="text" placeholder="input api_id" :disabled="(entry.api_id === null || entry.api_id.toString().length < 2) ? false:true" :value="entry.api_id" @change="e => entry.api_id = e.target.value"> -->
                  <button id="btn-modify" @click="btn_to_editable(entry)"> 修改 </button>
                  <button id="btn-match" @click="btn_to_updateAppid(entry)"> 匹配 </button>
                </span>
                <span v-else-if = "key === 'tick'">
                  <input type="checkbox" v-model="matchIds" @click="select" :value="entry.id">
                </span>
                <span v-else>
                  {{entry[key]}}
                </span>

            </td>
          </tr>
        </tbody>
      </table>
      <p v-else>Match Grid Area.</p>
    </div>
  <!-- </script> -->
</template>

<script>

import axios from 'Axios'
import { myconst } from '../Constant.js'

export default {
  name: 'demo-grid',

  // 'el' is not for component, while 'template' is the correct one.
  // el: '#grid-template',
  template: '#grid-template',
  replace: true,
  props: {
    matches: Array,
    columns: Array,
    filterKey: String
  },
  data: function () {
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key] = 1
    })
    return {
      sortKey: '',
      sortOrders: sortOrders,
      allSelected: false,
      matchIds: []
    }
  },
  computed: {
    filteredData: function () {
      var sortKey = this.sortKey
      var filterKey = this.filterKey && this.filterKey.toLowerCase()
      var order = this.sortOrders[sortKey] || 1
      var data = this.matches
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
          })
        })
      }
      if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? 1 : -1) * order
        })
      }
      return data
    }
  },
  filters: {
    capitalize: function (str) {
      return str.charAt(0).toUpperCase() + str.slice(1)
    }
  },
  methods: {
    sortBy: function (key) {
      this.sortKey = key
      this.sortOrders[key] = this.sortOrders[key] * -1
    },

    // checkbox to select all
    selectAll: function () {
      this.matchIds = []
      let match = []
      let allSelected = !this.allSelected

      if (allSelected) {
        for (match in this.matches) {
          this.matchIds.push(this.matches[match].id.toString())
        }
      }
    },
    select: function () {
      this.allSelected = false
    },

    // btn 修改 激活
    btn_to_editable: function (product) {
      product.disabled = false
      document.getElementById('id_' + product.id).removeAttribute('disabled')
    },

    // btn 匹配
    btn_to_updateAppid: function (product) {
      let urlPutAppid = myconst.api_host_port + '/put_json_product/' + product.id
      let updatedProduct = Object.assign({}, product, {api_id: product.api_id})
      let url = urlPutAppid

      // 添加请求头
      let config = {
        headers: {'Content-Type': 'application/json'}
      }

      // for localhost json-server test
      if (myconst.api_host_port.startsWith('http://localhost')) {
        url = myconst.api_host_port + '/matches'
      }

      // // validate input
      // if (product.api_id === null || product.api_id.toString().length < 2) {
      //   return
      // }
      // if (product.disabled === undefined || product.disabled) {
      //   return
      // }

      // button state change
      product.disabled = true
      document.getElementById('id_' + product.id).setAttribute('disabled', 'disabled')

      // http method: put
      axios.put(url, updatedProduct, config).then(
        response => {
          console.log('-----==== response body ====--------- ')
          console.dir(response.data.result)

          alert(response.data.result.resultCode + ': ' + response.data.result.resultMsg)
        }
      )
      // }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
  }

  table {
    border: 2px solid #42b983;
    border-radius: 3px;
    background-color: #fff;
  }

  th {
    background-color: #42b983;
    color: rgba(255,255,255,0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    padding: 10px 10px;
  }

  th.active {
    color: #fff;
  }

  th.active .arrow {
    opacity: 1;
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }

  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
  }

  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }

  .table-header {
    text-align: left;
  }

  .input_apiid {
    width: 120px;
  }
</style>
