<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1>{{ msg }}</h1>

    <div id="a-demo-div">

      <!-- 组件：按钮等 -->
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <a href=static/es_spider.html target="_blank"> 加载爬虫赛程 </a>
          </div>
          <div class="col-sm">
            <input class="file" name="file" type="file" accept=".xls, .xlsx, image/png,image/gif,image/jpeg"/>
            <!-- <input class="file" name="file" type="file" accept=".xls, .xlsx, image/png,image/gif,image/jpeg" @change="toUpload"/> -->
          </div>
          <div class="col-sm">
            <button id="btn-query-uploaded" @click="btn_to_queryUploaded()"> 导入上传赛程 </button>
          </div>
        </div>
        <div class="col-xs-12" style="height:20px;"></div>

        <div class="row">
          <div class="col-sm" style="text-align: left;">
            <datetime v-model="date.datetime1"
              placeholder="Begin: Date/Time"
              type="datetime"
              input-format="YYYY-MM-DD HH:mm"
              value-zone="UTC+8"
              zone="Asia/Shanghai"
              :format="{ year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit' }"
              :phrases="{ok: 'Continue', cancel: 'Exit'}"
              :minute-step=10
              :hour-step=1
              use12-hour
              auto-close
            ></datetime>
          </div>
          <div class="col-sm" style="text-align: left;">
            <datetime
              type="datetime"
              placeholder="End: Date/Time"
              v-model="date.datetime2"
              :format="{ year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: '2-digit' }"
              :phrases="{ok: 'Continue', cancel: 'Exit'}"
              :hour-step=1
              :minute-step=10
              use12-hour
            ></datetime>
          </div>
          <div class="col-sm">
            <button id="btn-query-spider" @click="btn_to_queryUploadedByTime()"> 加载指定赛程 </button>
          </div>
        </div>
      </div>

      <div class="col-xs-12" style="height:50px;"></div>

      <!-- 组件：自定义的grid -->
      <form id="search">
        Search <input name="query" v-model="searchQuery">
      </form>

      <demo-grid class="container" style="min-width: 1600px;"
        :matches="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </demo-grid>

    </div>

  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'Axios'
import DemoGrid from './components/DemoGrid'
import { myconst } from './Constant.js'
import 'bootstrap/dist/css/bootstrap.css'
import Datetime from 'vue-datetime'
// You need a specific loader for CSS files
import 'vue-datetime/dist/vue-datetime.css'
Vue.use(Datetime)

export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      searchQuery: '',
      gridColumns: ['tick', 'id', 'home_team', 'away_team', 'league', 'caiex_id', 'match_time', 'product', 'api_id'],
      gridData: [],
      date: {datetime1: '', datetime2: ''},
      uploadFilename: ''
    }
  },
  components: {
    DemoGrid
  },
  // mounted () {
  //   let url = 'https://private-8d8d93-testblueprint5.apiary-mock.com/products'
  //   // let url = myconst.api_url + '/matches'
  //   axios.get(url).then((response) => {
  //     this.gridData = response.data
  //   })
  // },

  methods: {
    // btn to submit and load uploaded matches
    btn_to_queryUploaded: function () {
      let urlUploadFile = myconst.api_host_port + '/get_json_uploaded'

      // let file = e.target.files[0]
      let file = document.querySelector('input[type=file]').files[0]
      let param = new FormData() // 创建form对象
      param.append('file', file, file.name) // 通过append向form对象添加数据
      param.append('chunk', '0')// 添加form表单中其他数据
      console.log(param.get('file')) // FormData私有类对象，访问不到，可以通过get判断值是否传进去

      this.uploadFilename = file.name

      // 添加请求头
      let config = {
        headers: {'Content-Type': 'multipart/form-data'}
      }

      let url = urlUploadFile
      if (myconst.api_host_port.startsWith('http://localhost')) {
        url = myconst.api_host_port + '/matches'
      }

      axios.post(url, param, config)
        .then(
          // debugging
          (response) => {
            console.log(response.data)
            // response.data.result.resultCode + ': ' + response.data.result.resultMsg // another data fetching way
            if (response.data['result']['resultCode'] !== 2000) {
              alert('failed! \n' + response.data['result']['resultCode'] + ': ' + response.data['result']['resultMsg'])
            } else {
              alert('done. \n' + response.data['result']['resultCode'] + ': ' + response.data['result']['resultMsg'])
            }

            // retrieving and assigning data
            this.gridData = response.data['data']
          })
    },

    // btn to load by datetime picker
    btn_to_queryUploadedByTime: function () {
      let urlGetMatches = myconst.api_host_port + '/get_json_matchTime'
      let dt1 = new Date(this.date.datetime1)
      let dt2 = new Date(this.date.datetime2)

      // if (dt1 == 'Invalid Date') {
      if (this.date.datetime1 === '' || this.date.datetime2 === '') {
        return
      }

      console.log(dt1)
      console.log(dt2)

      let m = dt1
      var dt1DateString = m.getUTCFullYear() + '-' + (m.getUTCMonth() + 1) + '-' + m.getUTCDate() + 'T' + m.getHours() + ':' + m.getUTCMinutes()
      m = dt2
      var dt2DateString = m.getUTCFullYear() + '-' + (m.getUTCMonth() + 1) + '-' + m.getUTCDate() + 'T' + m.getHours() + ':' + m.getUTCMinutes()

      // // temp for testing
      // dt1DateString = '2018-04-01T00:00'
      // dt2DateString = '2018-05-10T00:00'

      let url = urlGetMatches + '%3Fbegin%3D' + dt1DateString + '%26end%3D' + dt2DateString
      if (myconst.api_host_port.startsWith('http://localhost')) {
        url = myconst.api_host_port + '/matches'
      }

      axios.get(url).then(
        (response) => {
          // response.data.result.resultCode + ': ' + response.data.result.resultMsg // another data fetching way
          if (response.data['result']['resultCode'] !== 2000) {
            alert('failed! \n' + response.data['result']['resultCode'] + ': ' + response.data['result']['resultMsg'])
          }
          // // success
          // else {
          //   alert('done. \n' + response.data['result']['resultCode'] + ': ' + response.data['result']['resultMsg'])
          // }

          // retrieving and assigning data
          this.gridData = response.data['data']
        })
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
